{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <a class="navbar-brand" href="{{ path('portada') }}"><i class="fas fa-key"></i> PrestaKeys</a>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-home"></i> Portada</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

