{% extends 'layout.html.twig' %}

{% block title %}
    Listado de dependencias
{% endblock %}

{% block content %}
    <h1>Listado de dependencias</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Responsables</th>
            </tr>
        </thead>
        <tbody>
        {% for dependencia in dependencias %}
            <tr>
                <td>{{ dependencia.descripcion }}</td>
                <td>{{ dependencia.responsables|join(', ')|default('No tiene') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


