{% extends 'layout.html.twig' %}

{% block title %}
    Devolver llave
{% endblock %}

{% block content %}
    <h1>Devolver llave</h1>

    <div class="alert alert-warning">
        ¿Seguro que desea devolver la llave con código {{ llave.codigo }} prestada a {{ llave.usuario }}?
    </div>

    <form method="post">
        <a href="{{ path('llave_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver a la llave</a>
        <button type="submit" class="btn btn-success"><i class="fa fa-angle-double-down"></i> Marcar como devuelta</button>
    </form>
{% endblock %}


